@font-face{
    src: url(fontss/electroharmonix.ttf);
    font-family: jap;
}

@font-face{
    src: url('fontss/Poppins-Light.ttf');
    font-family: Poppins;
}

body{
    background-image:url('/projectpics/petals-cherry-blossoms.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: Poppins;

    height: 100vh;
    margin:0;
    padding: 0;
}

header{
    background-color: black;
    border-bottom: 2px groove white;
    color: white;
}

#hdiv{
    display: flex;
    padding-left: 5px;
    align-items: center;
    overflow: hidden;
}

#himg{
    height: 65px;
    margin-top: -5px;
}

.himg2{
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
}

#himg2{
    height: 100px;
    padding: 0;
}

th{
    width: 100px;
}

a{
    text-decoration: none;
    color: white;
}

#op1{
    height: 100%;
    width: 900px
}

main{
    width: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#cdiv{
    background-image: none;
}

#ginsan{
    height: 100%;
    width: 457px;
    margin: auto;
}

#pachii{
    height: 100%;
    width: 457px;
    margin: auto;
}

#glutton{
    height: 100%;
    width: 457px;
    margin: auto;
}

#zolo{
    height: 100%;
    width: 457px;
    margin: auto;
}

#elizo{
    height: 100vh;
    width: 100em;
    margin: 0;
}

#mh2{
    color: aliceblue;
    font-family: jap;
}

p{
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 0 8px black;
}

.mdiv{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2em;
    border-bottom: 2px groove white;
    padding-bottom: 1em;
}

#mmg{
    height: 75px;
    width: 75px;
    background-color: white;
    border-radius: 50%;
}



footer{
    border-top: 2px groove white;
    background-color: darkslategrey;
    color: white;
    margin-top: -7px;
}